[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
per-file-ignores =
    streamlit_app/pages/*: E402
    streamlit_app/Home.py: E402
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist

