# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*$py.class

# ==================================================
# Virtual Environments
# ==================================================
.venv/
venv/
env/
ENV/
airflow-venv/

# ==================================================
# Environment Variables
# ==================================================
.env
.env.*
!.env.example

# ==================================================
# Jupyter Notebook
# ==================================================
.ipynb_checkpoints/

# ==================================================
# IDE
# ==================================================
.vscode/
.idea/

# ==================================================
# Operating System
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================
logs/
*.log

# ==================================================
# Runtime
# ==================================================
*.pid
*.out
*.err

# ==================================================
# Testing & Coverage
# ==================================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.pyre/
.mypy_cache/

# ==================================================
# Build Artifacts (ONLY root build folder)
# ==================================================
/build/
dist/
*.egg-info/
*.zip

# ==================================================
# Temporary Files
# ==================================================
tmp/
temp/
*.tmp

# ==================================================
# Spark
# ==================================================
spark-warehouse/
metastore_db/
derby.log
spark-temp/

# ==================================================
# Local Data
# ==================================================
data/

# ==================================================
# Models & Embeddings
# ==================================================
models/
/embeddings/
data/embeddings/
faiss_index/
*.faiss

# ==================================================
# AWS
# ==================================================
.aws/

# ==================================================
# Secrets
# ==================================================
*.pem
*.key
*.crt

# ==================================================
# Apache Airflow
# ==================================================
airflow/
airflow.db
airflow.cfg
airflow-webserver.pid
airflow-scheduler.pid

airflow-runtime/logs/
airflow-runtime/pids/

# ==================================================
# Terraform
# ==================================================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
# terraform.tfvars

# Plans
*.tfplan

# Lock file (recommended to COMMIT)
# !.terraform.lock.hcl