# ==========================
# Data Processing
# ==========================
pyspark

# ==========================
# AWS
# ==========================
boto3

# ==========================
# Environment
# ==========================
python-dotenv

# ==========================
# Utilities
# ==========================
tqdm

black

isort

flake8

pytest
